{%extends 'base.html'%}
{%block body%}
<div class="whole" align="center">
  <div class="info" align="left">
    {% for q1 in data%}

    {{q1.employee_name}}<br>
    {{q1.employee_number}}<br>
    {{q1.Email_id}}<br>
    {{q1.location}}
{%endfor%}
  </div>
  <form class="inventory" action="{%url 'invent'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    <input type="submit" name="logout" value="LOGOUT" class='menue'/>
    <input type="submit" name="see_all" value="View Inventory" class="menue"/>
    {%for var in form%}
    {{var}}
    {%endfor%}
    <input type="submit" name="see" value="View Item" class="menue"/>

  </form>

  <table border="1px">
    <tr>
      <td>Code</td>
      <td>Name</td>
      <td>Activity</td>
      <td>Quantity</td>
    </tr>

    {%if 'see_all' in request.POST%}
    {%for all in ha%}

   <tr>
      <td>{{all.item_code}}</td>
      <td>{{all.item_des}}</td>
      <td>{{all.activity}}</td>
      <td>{{all.quantity}}</td>
    </tr>
{%endfor%}
{%endif%}

    {%if 'see' in request.POST%}

{%for query in forms%}
   <tr>
      <td>{{query.item_code}}</td>
      <td>{{query.item_des}}</td>
      <td>{{query.activity}}</td>
      <td>{{query.quantity}}</td>
    </tr>
{% endfor %}
{%endif%}
  </table>

</div>
{%endblock%}
