{%extends 'base.html'%}

{%block body%}
  <div id="body" align="center">
    <h1>Employee Details</h1>
    <form  action="/employee/hpemployee/" method="post" enctype="multipart/form-data">
      {%csrf_token%}
      employee number
    {%for num in key%}
      {{num}}
    {%endfor%}

      <input class="button" name="getdetails" type="submit" value="Get Details">
      <input class="button" name="delete" type="submit" value="Delete">
      <input class="button" name="update" type="submit" value="Update">
    </form>

      <div >



        <table border="1px">
          <tr>
            <td>Employee Number</td>
            <td>Employee Name</td>
            <td>employee location</td>
            <td>Date of Birth</td>
          </tr>
          {% for num2 in forms%}
          <tr>
            <td>{{num2.employee_number}}</td>
            <td>{{num2.employee_name}}</td>
            <td>{{num2.location_code}}</td>
            <td>{{num2.DOB}}</td>
          </tr>
            {% endfor %}
        </table>





      </div>
  </div>
{%endblock%}
