{%load static from staticfiles %}
<!DOCTYPE HTML>
<html lang="en" dir="ltr">

    <head>
    <meta charset="utf-8">
        <title>homepage</title>
      <link href="{%static 'style.css'%}"
      type="text/css" rel="stylesheet">
   </head>


    <body >

  
        <div id="header">
            <img src="{%static 'newheader.png'%}" width="1250px">
        <div  id="menue" align="center">
          <a href="{% url 'homepage'%}"><input type="button" name="home" value="Home" class="menue" ></a>
          <a href="{%url 'about'%}"><input type="button" name="About" value="About" class="menue"/></a>
          <a href="{%url 'emp_homepage'%}"><input type="button" name="Add_employee" value="SIGN-IN" class="menue"/></a>
          <a href="{%url 'emp_details'%}"><input type="button" name="employee_details" value="employee details" class="menue"/></a>
          <a href="{%url 'login'%}"><input type="button" name="login" value="LOGIN" class="menue"/></a>
        </div>
        {%block body%}

        {%endblock%}
         </div>

      </body>
  </html>
